@model IEnumerable<Insurance_Claims.LossType>

@{
    ViewBag.Title = "Index";
}

<h2>List of LossType</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LossTypeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LossTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdatedId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LossTypeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LossTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdatedId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedId)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.LossTypeId })
            
        </td>
    </tr>
}

</table>
